NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW1tdW5lLWFudGVsb3BlLTAuY2xlcmsuYWNjb3VudHMuZGV2JA
NEXT_PUBLIC_GOOGLE_ANALYTICS=G-SYXTLL66SH
NEXT_PUBLIC_CLARITY_PROJECT_ID=n5192agiqu
NEXT_PUBLIC_FUNCTION_APP_URL=http://localhost:7071
CLERK_SECRET_KEY=sk_test_SECRET_KEY
OPENAI_API_KEY=
ELEVENLABS_API_KEY=
